@model BizHacks.Models.Display

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Display</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CampaignName" class="control-label"></label>
                <input asp-for="CampaignName" class="form-control" />
                <span asp-validation-for="CampaignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalYear" class="control-label"></label>
                <input asp-for="FiscalYear" class="form-control" />
                <span asp-validation-for="FiscalYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalMonth" class="control-label"></label>
                <input asp-for="FiscalMonth" class="form-control" />
                <span asp-validation-for="FiscalMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impressions" class="control-label"></label>
                <input asp-for="Impressions" class="form-control" />
                <span asp-validation-for="Impressions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks" class="control-label"></label>
                <input asp-for="Clicks" class="form-control" />
                <span asp-validation-for="Clicks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTR" class="control-label"></label>
                <input asp-for="CTR" class="form-control" />
                <span asp-validation-for="CTR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visit" class="control-label"></label>
                <input asp-for="Visit" class="form-control" />
                <span asp-validation-for="Visit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOnlineOrders" class="control-label"></label>
                <input asp-for="TotalOnlineOrders" class="form-control" />
                <span asp-validation-for="TotalOnlineOrders" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalOnlineRevenue" class="control-label"></label>
                <input asp-for="TotalOnlineRevenue" class="form-control" />
                <span asp-validation-for="TotalOnlineRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BounceRate" class="control-label"></label>
                <input asp-for="BounceRate" class="form-control" />
                <span asp-validation-for="BounceRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
